body {
  background: #F1A9A9;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Pizza {
  animation: spin 3s linear infinite;
  transform-origin: 60% 45%;
}